{% extends "_layout" %}
{% block content %}
{% include '_includes/_subheader.html'%}<div class="sub-bg about-sub-bg">{% include '_includes/_follow.html' %}<div class="follow-social"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a><a href="{{ siteUrl }}privacy-policy/">Privacy Policy</a></div><div class="sub-container"><div class="col col--2-of-2 crumb"><span>/ About</span></div><div class="page-container"><div class="col col--2-of-2"><h1>GLEN PEROTTE | M.Ed, BFA</h1><div class="col col--2-of-2"><div class="about-swiper-container"><div class="swiper-button-prev"></div><div class="swiper-button-next"></div><div class="swiper-container about-swiper"><div class="swiper-wrapper">{% for slide in entry.aboutSlider %}<div class="swiper-slide"><img src="{{ slide.url('square') }}" alt="{{ slide.title }}"/></div>{% endfor %}</div></div></div>{% for block in entry.tabs %}
{% if block.type == "twoColumn" %}<div class="about">{{ block.leftColumn }}</div>{% endif %}
{% endfor %}</div><div class="col col--2-of-2 second-col">{% for block in entry.tabs %}
{% if block.type == "twoColumn" %}
{{ block.rightColumn }}
{% endif %}
{% endfor %}</div><section class="horizontal-timeline medium-padding"><div class="timeline"><div class="paginate-cont"><div class="swiper-container gallery-thumbs2"><div class="swiper-wrapper">{% for block2 in entry.timeline.order('sortOrder desc') %}
{% if block2.type == 'timeline' %} <div class="swiper-slide"><span>   {{ block2.date }}</span></div>{% endif %}
{% endfor %}</div><div class="swiper-button-prev2"></div><div class="swiper-button-next2"></div></div></div><div class="swiper-container timeline-container"><div class="swiper-wrapper">{% for block2 in entry.timeline.order('sortOrder desc') %}
{% if block2.type == 'timeline' %} <div class="swiper-slide"><div class="slide-cont"><div class="slider-logo"><div class="banner-img">  
{% for asset in block2.image %}<img src="{{ asset.url }}" alt="{{ asset.url }}"/>{% endfor %}</div><div class="slide-date"><h4> {{ block2.date }}</h4></div><h2> {{ block2.heading }}</h2>{{ block2.body }}</div></div></div>{% endif %}
{% endfor %}</div></div></div></section></div></div></div></div><div class="home-footer"><div class="row"><div class="col col--1-of-2 foot-icon"><p>Follow</p><a href="https://www.facebook.com/glenperottephotography" target="_blank" class="social-btn"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="https://www.instagram.com/glenperottefoto" target="_blank" class="social-btn"><i class="fa fa-instagram" aria-hidden="true"></i></a></div><div class="col col--1-of-2 copy-foot"><p>&copy; Copyright Glen Perotte Photographer Ltd {{ "now"|date('Y') }}. All Rights Reserved <br><a href="{{ siteUrl }}privacy-policy">Privacy</a><a href="{{ siteUrl }}terms-conditions">Terms &amp; Conditions</a> </p><p class="ipop">Website by <a href="http://www.ipopdigital.com" target="_blank">iPOP Digital</a></p></div></div></div>{% endblock %}