{% extends "_layout" %}
{% block content %}
{% include '_includes/_subheader.html'%}<div class="sub-bg about-sub-bg">{% include '_includes/_follow.html' %}<div class="follow-social"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a><a href="{{ siteUrl }}privacy-policy/">Privacy Policy</a></div><div class="sub-container"><div class="col col--2-of-2 crumb"><span>/ Privacy Policy</span></div><div class="page-container"><div class="col col--2-of-2"><h1>GLEN PEROTTE | M.Ed, BFA</h1><!--.col.col--1-of-4.tabhold
  {% for block in entry.tabs %}
  a(href="#/").tab {{ block.tabTitle }}
  {% endfor %}--><div class="col col--4-of-4 privacy-policy">{% for block in entry.tabs %}<div class="tab{{ loop.index }}">{{ block.tabText }}
{% for asset in block.tabImage %}<img src="{{ asset.getUrl }}" alt="{{ asset.title }}" class="fullWidth"/>{% endfor %}</div>{% endfor %}<!--.about-swiper-container.swiper-button-prev
.swiper-button-next
.swiper-container.about-swiper
  .swiper-wrapper
    {% for slide in entry.aboutSlider %}
    .swiper-slide
      img(src="{{ slide.url('square') }}", alt="{{ slide.title }}")
    {% endfor %}--></div></div></div></div></div><div class="home-footer"><div class="row"><div class="col col--1-of-2 foot-icon"><p>Follow</p><a href="https://www.facebook.com/glenperottephotography" target="_blank" class="social-btn"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="https://www.instagram.com/glenperottefoto" target="_blank" class="social-btn"><i class="fa fa-instagram" aria-hidden="true"></i></a></div><div class="col col--1-of-2 copy-foot"><p>&copy; Copyright Glen Perotte Photographer Ltd {{ "now"|date('Y') }}. All Rights Reserved <br><a href="{{ siteUrl }}privacy-policy">Privacy</a><a href="{{ siteUrl }}terms-conditions">Terms &amp; Conditions</a> </p><p class="ipop">Website by <a href="http://www.ipopdigital.com" target="_blank">iPOP Digital</a>                            </p></div></div></div>{% endblock %}