
{% extends "_layout" %}
{% block content %}
{% include '_includes/_subheader.html'%}
.sub-bg.about-sub-bg
    {% include '_includes/_follow.html' %}
    .follow-social
      a(href="#")
        <i class="fa fa-twitter" aria-hidden="true"></i>
      a(href="#")
        <i class="fa fa-facebook" aria-hidden="true"></i>
      a(href="#")
        <i class="fa fa-instagram" aria-hidden="true"></i>
      a(href="{{ siteUrl }}privacy-policy/") Privacy Policy
    .sub-container
      .col.col--2-of-2.crumb
        span / Privacy Policy
      .page-container
        .col.col--2-of-2
          h1 GLEN PEROTTE | M.Ed, BFA
          //.col.col--1-of-4
            .tabhold
              {% for block in entry.tabs %}
              a(href="#/").tab {{ block.tabTitle }}
              {% endfor %}
          .col.col--4-of-4.privacy-policy
            {% for block in entry.tabs %}
            div(class="tab{{ loop.index }}")
              {{ block.tabText }}
              {% for asset in block.tabImage %}
              img(src="{{ asset.getUrl }}", alt="{{ asset.title }}" class="fullWidth")
              {% endfor %}
            {% endfor %}
            //.about-swiper-container
              .swiper-button-prev
              .swiper-button-next
              .swiper-container.about-swiper
                .swiper-wrapper
                  {% for slide in entry.aboutSlider %}
                  .swiper-slide
                    img(src="{{ slide.url('square') }}", alt="{{ slide.title }}")
                  {% endfor %}
.home-footer
  .row
    .col.col--1-of-2.foot-icon
      p Follow
      a(href="https://www.facebook.com/glenperottephotography" class="social-btn", target="_blank")
        <i class="fa fa-facebook" aria-hidden="true"></i>
      a(href="https://www.instagram.com/glenperottefoto" class="social-btn", target="_blank")
        <i class="fa fa-instagram" aria-hidden="true"></i>
    .col.col--1-of-2.copy-foot
      p &copy; Copyright Glen Perotte Photographer Ltd {{ "now"|date('Y') }}. All Rights Reserved <br><a href="{{ siteUrl }}privacy-policy">Privacy</a><a href="{{ siteUrl }}terms-conditions">Terms &amp; Conditions</a> 
      p.ipop Website by <a href="http://www.ipopdigital.com" target="_blank">iPOP Digital</a>                            
{% endblock %}
