{% extends "_layout" %}
{% block content %}
{% include '_includes/_header.html'%}<div class="favourites-bg"><div class="cross-btn"><img src="{{ siteUrl }}build/img/cross-btn-white.svg" alt="Back Button"/></div>{% include '_includes/_follow.html' %}<div class="follow-social"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a><a href="{{ siteUrl }}privacy-policy/">Privacy Policy</a></div><div class="sub-container"><div class="col col--2-of-2 crumb"><span>/ Favourites</span><div class="favourte-cont">{% for entry in craft.entries.section('work') %}
{% set imagesInProject = entry.projectImages|length %}
{% for i in 0..imagesInProject %}<script>console.log('i : {{ i }}');</script>{% set isFav = craft.lj_cookies.get( "a"~entry.id~"a"~i~"a" ) %}<script>console.log('isfav : {{ isFav }} {{ "a"~entry.id~"a"~i~"a" }}');</script>{% if isFav == true %}<div class="col col--1-of-4 fav-col"><a href="{{ entry.getUrl }}?goto={{ i }}"><img src="{{ entry.projectImages[ i ].getUrl }}" alt="Favourite Image" class="fullWidth"/></a><h3 class="text-center">{{ entry.title }}</h3></div>{% endif %}
{% endfor %}
{% endfor %}</div></div></div></div>{% endblock %}