
//a(href="#/" class="follow") Follow
.follow-social
	//- a(href="https://twitter.com/glenperotte", target="_blank")
	//- 	<i class="fa fa-twitter" aria-hidden="true"></i>
	//- a(href="https://www.facebook.com/glenperottephotography/", target="_blank")
	//- 	<i class="fa fa-facebook" aria-hidden="true"></i>
	//- a(href="https://www.instagram.com/glenperottephoto/", target="_blank")
	//- 	<i class="fa fa-instagram" aria-hidden="true"></i>
	a(href="{{ siteUrl }}privacy-policy/") Privacy Policy
