<script
  src="{{ siteUrl }}build/js/jquery.min.js"
 ></script>
<script src="{{ siteUrl }}build/js/modernizr.custom.25376.js"></script>
<script src="{{ siteUrl }}build/js/swiper.min.js"></script>
<script src="{{ siteUrl }}build/js/masonry.pkgd.min.js"></script>
<script src="{{ siteUrl }}build/js/js.cookie.js"></script>
<script src="{{ siteUrl }}build/js/uikit.min.js"></script>
<script src="{{ siteUrl }}build/js/main.js?v=9"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
<script src="{{ siteUrl }}build/js/main.min.js?v=9"></script>
<script>


$('.main-nav').hover(function(){
	$('.menu-hover').addClass('menu-hover-true');
},function(){
	$('.menu-hover').removeClass('menu-hover-true');
});
$(window).load(function(){


  var galleryHeader = new Swiper(".timeline-container", {
        // Optional parameters
        direction: "horizontal",
        loop: false,
        slidesPerView: 1,
        spaceBetween: 30,
        allowSwipeToPrev: false,
        allowSwipeToNext: false

    });

  var galleryThumbs = new Swiper(".gallery-thumbs2", {
        spaceBetween: 10,
        centeredSlides: true,
        slidesPerView: '4',
        loop: false,
        nextButton: ".gallery-thumbs2 .swiper-button-next2",
        prevButton: ".gallery-thumbs2 .swiper-button-prev2",
        control: galleryHeader
    });
    

	var aboutSwiper = new Swiper('.about-swiper', {
				autoplayDisableOnInteraction:true,
				autoplay: 2500,
				nextButton: '.about-swiper-container .swiper-button-next',
				prevButton: '.about-swiper-container .swiper-button-prev'
	});
  var swiper4 = new Swiper('.swiper-container2', {
        paginationClickable: true,
        effect: 'fade',
        autoplay: 2500,
        speed: 900,
        simulateTouch:false,
        loop: true,
        nextButton: 'a.prev',
        prevButton: 'a.next',
        autoplayDisableOnInteraction:false
    });
    $(".swiper-container2 .swiper-wrapper").height( $(window).height() );

var galleryTop = new Swiper('.gallery-top', {
        nextButton: '.gallery-top .swiper-button-next',
        prevButton: '.gallery-top .swiper-button-prev',
        spaceBetween: 0,
        //loop: true,
        speed: 600,
				effect: 'fade',
        onInit: function () {
          {% set handle = entry.getSection().handle %}
          console.log('{{ handle }}');
          {% if handle == 'work' %}
          var slideNumber = $('.swiper-slide-active').index();
          console.log('a{{ entry.id }}a'+slideNumber+"a");
          console.log(Cookies.get('a{{ entry.id }}a'+slideNumber+"a"));
          var isfaved = Cookies.get('a{{ entry.id }}a'+slideNumber+"a");
          console.log("gotten " +isfaved);
          if(isfaved){
            $('.fav-btn').find('i').addClass('fav-select');
          }else{
            $('.fav-btn').find('i').removeClass('fav-select');
          }
          {% endif %}
        },
        onSlideChangeStart: function(){
          window.currentSlide = galleryTop.activeIndex;
          {% set handle = entry.getSection().handle %}
          console.log('{{ handle }}');
          {% if handle == 'work' %}
          var slideNumber = galleryTop.activeIndex;
          console.log('a{{ entry.id }}a'+slideNumber+"a");
          console.log(Cookies.get('a{{ entry.id }}a'+slideNumber+"a"));
          var isfaved = Cookies.get('a{{ entry.id }}a'+slideNumber+"a");
          console.log("gotten " +isfaved);
          console.log(galleryTop.activeIndex);
          if(isfaved){
            $('.fav-btn').find('i').addClass('fav-select');
          }else{
            $('.fav-btn').find('i').removeClass('fav-select');
          }
          {% endif %}
        }
    });
    {% if (handle == 'work') %}
    {% set gotoParam = craft.request.getParam('goto','') %}
    {% if gotoParam|length != 0 %}
    galleryTop.slideTo({{ gotoParam }});
    {% endif %}
    {% endif %}
    $('.thumb').click(function(){
      galleryTop.slideTo($(this).index());
    });
    $('.toggle-thumb').hover(function(){
      $('.gallery-thumbs').toggleClass("thumb-raise");
    });
    $('.tab').click(function(e){
      var tabNo = $(this).index() + 1;
      if (tabNo == 1) {
        $('.tab2, .tab3').css({"display":"none"});
        $('.tab1').css({"display":"block"});

      }
      if (tabNo == 2) {
        $('.tab1, .tab3').css({"display":"none"});
        $('.tab2').css({"display":"block"});
      }
      if (tabNo == 3) {
        $('.tab1, .tab2').css({"display":"none"});
        $('.tab3').css({"display":"block"});
      }
    });
    $('.sih-before').click(function(){
      galleryTop.slidePrev();
    });
    $('.sih-after').click(function(){
      galleryTop.slideNext();
    });
}).resize(function(){
  $(".swiper-container2 .swiper-wrapper").height( $(window).height() );
});
$(window).load(function(){
  $('.fav-img-container').masonry({
    // options...
    itemSelector: '.fav-img'
  });
});
</script>
<script type="text/javascript">
;(function(){
  function id(v){return document.getElementById(v); }
  function loadbar() {
    var ovrl = id("overlay"),
        prog = id("progress"),
        stat = id("progstat"),
        img = document.images,
        c = 0;
        tot = img.length;

    function imgLoaded(){
      c += 1;
      var perc = ((100/tot*c) << 0) +"%";
      prog.style.width = perc;
      stat.innerHTML = "Loading "+ perc;
      if(c===tot) return doneLoading();
    }
    function doneLoading(){
      ovrl.style.opacity = 0;
      setTimeout(function(){
        ovrl.style.display = "none";
				$('.intro').addClass('animate-intro');
      }, 1200);
    }
    for(var i=0; i<tot; i++) {
      var tImg     = new Image();
      tImg.onload  = imgLoaded;
      tImg.onerror = imgLoaded;
      tImg.src     = img[i].src;
    }
  }
  document.addEventListener('DOMContentLoaded', loadbar, false);
}());

$(document).ready(function () {
  $('body').keydown(function(e){
      if(e.keyCode == 27) {
          $('.work-nav-cont').removeClass('open');
      }
  });
  $('.close-btn').click(function() {
    $('.work-nav-cont').removeClass('open');
    $('.main-nav').toggleClass('white');

		setTimeout(function(){
			$('.work-nav-cont').css({'z-index':'-1'});
		},300);


  });
})




</script>
</body>
</html>
