
{% include '_includes/work-nav.html'%}
{% include '_includes/mobile-nav.html'%}
.intro
.top-header
  a(href="{{ siteUrl }}") 
    .logo 
      img(src="{{ siteUrl }}build/img/glen-perotte-icon.svg", alt="Glen Perotte Photography" class="siteIcon")
      img(src="{{ siteUrl }}build/img/glen-perotte-icon-b.svg", alt="Glen Perotte Photography" class="siteIcon siteIconBlack")
      .hover-logo
        img(src="{{ siteUrl }}build/img/glen-perotte-logo-white.svg", alt="Glen Perotte Photography logo" class="siteLogo")
        img(src="{{ siteUrl }}build/img/glen-perotte-logo-black.svg", alt="Glen Perotte Photography logo" class="siteLogo siteLogoBlack")
  {% include '_includes/_navigation.html'%}
