<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    {% hook 'seomaticRender' %}
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="iPOP Digital">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="INDEX,FOLLOW">
    <meta name="email" content="info@ipopdigital.com" />
    <link rel="home" href="{{ siteUrl }}" />
    <!-- <link rel="stylesheet" type="text/css" href="{{ siteUrl }}resources/css/layout.min.css?v=17jfffef7.445">
    <link rel="stylesheet" type="text/css" href="{{ siteUrl }}resources/css/layout2.min.css?v=10">
    <link rel="stylesheet" type="text/css" href="{{ siteUrl }}resources/css/demo.css"> -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ siteUrl }}build/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ siteUrl }}build/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ siteUrl }}build/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ siteUrl }}build/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ siteUrl }}build/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ siteUrl }}build/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ siteUrl }}build/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ siteUrl }}build/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ siteUrl }}build/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ siteUrl }}build/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ siteUrl }}build/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ siteUrl }}build/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ siteUrl }}build/img/favicon-16x16.png">
    <script src="https://use.typekit.net/mdu4nkq.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <!-- <script src="{{ siteUrl }}resources/js/jquery.min.js"></script> -->

    <link rel="stylesheet" href="{{ siteUrl }}build/css/styles.min.css?v=132322">


    <!--Cookies-->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
    setTimeout(function() {
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#ffffff",
            "text": "#333"
          },
          "button": {
            "background": "#000",
            "text": "#ffffff"
          }
        },
        "content": {
          "href":"{{ siteUrl }}privacy-policy/"
        },
      });
    }, 1000);
    </script>

</head>
<body>
  <div id="overlay">
    <div class="preload-img">
      <img src="{{ siteUrl }}build/img/glen-perotte-logo.svg" alt="">
    </div>
    <div id="progstat"></div>
    <div id="progress"></div>
  </div>
