
{% include '_includes/work-nav.html'%}
.sub-mobile
  {% include '_includes/mobile-nav.html'%}
.sub-top-header
  a(href="{{ siteUrl }}" class="logo")
      img(src="{{ siteUrl }}build/img/glen-perotte-icon-b.svg", alt="Glen Perotte Photography" class="siteIcon")
      .hover-logo
        img(src="{{ siteUrl }}build/img/glen-perotte-logo-black.svg", alt="Glen Perotte Photography logo" class="siteLogo")
        
  {% include '_includes/_navigation.html'%}
