<!--Contact Form-->
<form method="post" action="" accept-charset="UTF-8" id="general" class="formbuilder2">
  {{ csrfInput() }}
  <input type="hidden" name="action" value="contact-form/send">
  <!--redirects to the same wesbite but with ~arrangesuccess added. -->
  <!--JS query listening for this gives pop up once completed        -->
  <input id="bear" name="bear" type="text">
  {{ redirectInput( craft.request.url ~ '?arrangesuccess' ) }}
  <input type="hidden" name="subject" value="Contact Form" />
  
  <label for="firstName" ></label>
  <input id="firstName" type="text" name="message[fullName]" placeholder="Full Name"/>
  <input id="fromEmail" type="email" name="fromEmail" placeholder="Email" required="required"/>
  <input id="contactPhone" type="number" name="message[contactPhone]" placeholder="Telephone"/>
  <textarea id="contactAdditionalMessage" type="text" name="message[contactAdditionalMessage]" placeholder="Message" required="required"></textarea>
  <button type="submit" class="button">Submit Form</button>
</form>