
.mobile-nav
  img(src="{{ siteUrl }}build/img/side-icon.svg", alt="Side Icon" class="side-icon")
  img(src="{{ siteUrl }}build/img/side-icon-black.svg", alt="Side Icon" class="side-icon-b")
  .mobile-nav-container            
    a(href="{{ siteUrl }}") Home
    {% for entry2 in craft.entries.section('work').order('postDate asc') %}        
    a(href="{{ entry2.url }}") {{ entry2.title }}
    {% endfor %}
    a(href="{{ siteUrl }}about") About
    a(href="{{ siteUrl }}contact") Contact
    a(href="{{ siteUrl }}privacy-policy/") Privacy Policy
