
script.
	$(window).load(function(){
		$('.social-feed-container').socialfeed({
				facebook:{
						accounts: ['@StHelierJsy'],	//Array: Specify a list of accounts from which to pull wall posts
						limit: 10,																	 //Integer: max number of posts to load
						access_token: 'EAACeQvhuQv4BAJJ2iL9WgQzeFALqkZAvCQDJYf5U5HEqBxg4KLhm4ijCCIWpxWZA8OxZC4LrZBwHoWEKUptiCD9NPuvY1FXNoyPhBCSUxsbzy8AqWBEtry8ZCov6E7VUeGoCgIdxEr8AfD2TuuRFzDNGViI9gZBHjgYJAEzCZBuZBAZDZD'	//String: "APP_ID|APP_SECRET"
				},
				twitter:{
						accounts: ['@StHelierJsy'],											//Array: Specify a list of accounts from which to pull tweets
						limit: 10,																	 //Integer: max number of tweets to load
						consumer_key: 'NIdPyDCN8iUtfBDhCDuk7fEy5',					//String: consumer key. make sure to have your app read-only
						consumer_secret: 'GXA4GEAfN4uF8y9VQFWDZbHR2pBAaBMUMmE7ddXfEzXAp7AOtu',//String: consumer secret key. make sure to have your app read-only
				},
				// GENERAL SETTINGS
				callback: function(){
				},
				length:400,								 //Integer: For posts with text longer than this length, show an ellipsis.
				show_media:true,
				date_format: "L",
		});
	});
