
.work-nav-cont
  .close-btn
    img(src="{{ siteUrl }}build/img/cross-btn-white.svg", alt="Back Button")
  .work-contain
    {% for entry2 in craft.entries.section('work').order('postDate asc') %}        
    a(href="{{ entry2.url }}") {{ entry2.title }}
    {% endfor %}
  <p class="copyright">&copy; Glen Perotte Photographer Ltd. <br>All Rights Reserved. Website by <a href="http://www.ipopdigital.com" target="_blank">iPOP Digital</a></p>
