body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: "freight-sans-pro";
    font-weight: 100;
    position: relative;
  }
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }
  @mixin fade($item , $time){
      -webkit-transition: $item $time ease-in;
      -moz-transition: $item $time ease-in;
      -ms-transition: $item $time ease-in;
      -o-transition: $item $time ease-in;
      transition: $item $time ease-in;
  }

  .logo{
    position: absolute;
    top: 28px;
    left: 80px;
    width:80px;
        z-index: 100;
  }
  .frieght {
    font-family: "freight-sans-pro";
    letter-spacing : 1.1px;
    font-weight: 400;
  }
  .top-header{
    position: relative;
    z-index: 50;
  }
  .siteIcon {
      width: 100%;
      max-width: 80px;
  }
  .siteLogo{
    width:100%;
    height: 35px;
  }
  .siteLogoBlack {
    @include fade(opacity, 0.5s);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  
  @media (max-width: 800px) {
    span.contact-num {
      float: none;
      width: 100%;
      display: inline-block;
      margin-bottom: 20px;
    }
    .col.col--1-of-2.foot-icon {
      text-align: center;
    }
    .copy-foot {
      text-align: center!important;
      line-height: 25px;
    }
    .siteLogo {
      opacity: 1 !important;
    }
    .siteLogoBlack {
      opacity: 0 !important;
    }
    .siteIcon {
      opacity: 1 !important;
    }
    .siteIconBlack {
      opacity: 0 !important;
    }
    .intro {
      display: none;
    }
    .about-swiper-container{
      padding-right:0!important;
    }
  }
  
  .sub-top-header .main-nav ul li a {
    color:#333333;
  }
  .sub-top-header .header-social a{
    color:#333;
  }
  .sub-top-header .main-nav ul li a:hover {
    border-bottom:1px solid #333;
  }
  .main-nav.white a{
    color:white!important;
  }
  
  .intro {
    @include fade(all, 0.5s);
    position: fixed;
    background: #020203;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: 3;
    animation-timing-function: ease-in-out;
    transform-origin: 50% top;
    transform: scale(1,0);
  }
  .menu-hover {
    @include fade(all, 0.5s);
    position: fixed;
    background: #020203;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: 3;
    transform-origin: 50% top;
    transform: scale(1,0);
  }
  .white-intro {
    background-color: white;
  }
  .menu-hover.menu-hover-true {
    transform: scale(1,1);
  }
  
  .intro.white-intro {
    background: white;
  }
  .animate-intro {
    animation: intro 2s forwards;
  }
  @keyframes intro {
    0% {
      transform: scale(1,0);
    }
    40% {
      transform: scale(1,1);
    }
    60% {
      transform: scale(1,1);
    }
    100% {
      transform: scale(1,0);
    }
  }
  .header-social {
    position: absolute;
    right: -80px;
    top: 10px;
    a{
      color: white;
      margin-left: 14px;
      font-size: 22px;
    }
  }
  .main-nav{
    position: absolute;
    right:180px;
    top: 50px;
    z-index: 99;
    font-size: 1.25em;
    ul{
      margin:0;
      padding:0;
      li{
        display: inline-block;
        list-style:none;
        a{
          @include fade(color, 0.5s);
          display: inline-block;
          text-decoration:none;
          text-transform:uppercase;
          letter-spacing:2.4px;
          @extend .frieght;
          color:white;
          padding: 10px 20px;
        }
      }
    }
  }
  
  .siteIconBlack {
    @include fade(opacity, 0.5s);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  .main-nav a:hover {
    border-bottom: 1px solid white;
  }
  .main-nav.black-nav {
    a {
      color: #020203;
      &:hover {
        border-color: #020203;
      }
    }
  }
  .preload-img {
    position: relative;
    width:100%;
    height: 100%;
    img{
      max-width: 400px;
      position: absolute;
      top: 30%;
      left: 50%;
          padding: 20px;
      transform: translate(-50%, -30%);
      -ms-transform: translate(-50%, -30%);
      -webkit-transform: translate(-50%, -30%);
      -moz-transform: translate(-50%, -30%);
      -o-transform: translate(-50%, -30%);
    }
  }
  .absolute-c{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  #overlay{
    position:fixed;
    z-index:99999;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(0,0,0,1);
    transition: 1s 0.4s;
    @extend .frieght;
  }
  #progress{
    height:1px;
    background:#fff;
    position:absolute;
    width:0;
    text-align:center;
    top:50%;
    @extend .frieght;
  }
  #progstat{
    font-size:0.7em;
    letter-spacing: 3px;
    @extend .frieght;
    position:absolute;
    top:50%;
    margin-top:-40px;
    width:100%;
    text-align:center;
    color:#fff;
  }
  .default{
    .mobile-m-b{
      @include mobile-break{
        margin-bottom:20px;
      }
    }
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 100px;
    .black-btn{
      background: black;
      color: white;
      padding: 20px 35px;
      display: inline-block;
      margin-top: 30px;

    }
    h2{
      font-size: 32px;
      font-weight: 200;
    }
    h3{
      font-size: 22px;
      font-weight: 200;
      margin-bottom: 20px;
    }
    .margin-top-small{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .padding-top{
      padding-top: 70px;
    }
    .padding-bottom{
      padding-bottom: 70px;
    }
  }
  #preloader {
      position:fixed;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background-color:#fff; /* change if the mask should have another color then white */
      z-index:99; /* makes sure it stays on top */
  }
  
  #status {
      width:200px;
      height:200px;
      position:absolute;
      left:50%; /* centers the loading animation horizontally one the screen */
      top:50%; /* centers the loading animation vertically one the screen */
      background-image:url(../img/glen-perotte-icon-b.svg); /* path to your loading animation */
      background-repeat:no-repeat;
      background-position:center;
      margin:-100px 0 0 -100px; /* is width and height divided by two */
  }
  .hover-logo {
    width:160px;
    left: 90px;
    position: absolute;
    top: 25px;
    @extend .frieght;
    @include fade(all, 0.3s);
  }
  .logo:hover .hover-logo {
    width:160px;
    @include fade(all, 0.3s);
  }
  .slider-title{
    z-index: 5;
    position: absolute;
    bottom: 120px;
    left: 50px;
    a{
      color:white;
      text-decoration:none;
    }
    h3{
      @extend .frieght;
      font-weight:600;
      color:white;
      font-size:16px;
      text-transform:uppercase;
      margin-bottom: 0;
      letter-spacing:5.8px;
      margin-top: 2px;
    }
    h2{
      @extend .frieght;
      font-weight:300;
      font-size:34px;
      letter-spacing:5.8px;
      color:white;
      text-transform:uppercase;
      margin-top: 0;
      margin-bottom: 0;
    }
    a h3 {
      position: relative;
      display: inline-block;
      &:after {
        bottom: -1px;
        width: 97%;
        height: 2px;
        background: white;
        display: block;
        content: '';
      }
    }
  }
  .slider-title.black-title {
    a,
    h3,
    h2
    {
      color:#020203;
    }
    a h3:after {
      background: #020203;
    }
  }
  .project-single{
    margin-bottom:10px;
  }
  #slides, .swiper-container2 {
    background: black;
  }
  #home-header .slides-navigation{
    .next {
      padding:9px 30px 4px 30px;
    }
    .prev {
      padding:9px 30px 4px 30px;
    }
    .blank {
      height: 32px;
      display: none;
    }
  }
  .slides-navigation{
    position: absolute;
    right:32px;
    bottom:46px;
    z-index: 10;
    width:232px;
    .next {
      padding:15px 30px 8px 30px;
      background:white;
      float:right;
      display: inline-block;
      vertical-align: top;
      img{
        width:20px;
      }
    }
    .blank {
      display: inline-block;
      height: 42px;
      position: relative;
      width:70px;
      background:white;
      margin-left:1px;
      margin-right:1px;
      i{
        position: absolute;
        left: 31px;
        top: 10px;
        color: white;
        font-size: 21px;
        }
    }
    .prev {
      padding:15px 30px 8px 30px;
      background:white;
      display: inline-block;
      img{
        width:20px;
      }
    }
  }
  .cross-btn{
    width: 25px;
    position: absolute;
    top: 95px;
    right: 59px;
  }
  .close-btn{
    width: 25px;
    position: absolute;
    top: 95px;
    cursor:pointer;
    right: 59px;
  }
  /*
  .image-number {
    position: absolute;
    right: 81px;
    @extend .frieght;
    z-index: 100;
    background: white;
    height: 19px;
    color: black;
    width: 70px;
    text-align: center;
    padding: 6px 0px 7px 0px;
  }*/
  
  .image-number {
    position: absolute;
    right: 113px;
    @extend .frieght;
    z-index: 100;
    background: white;
    height: 19px;
    color: black;
    bottom: 46px;
    width: 70px;
    text-align: center;
    padding: 6px 0px 7px 0px;
  }
  
  .image-number-pause {
    bottom: 0;
    cursor: pointer;
    position: absolute;
    right: 81px;
    @extend .frieght;
    z-index: 100;
    background: white;
    height: 19px;
    color: black;
    width: 70px;
    text-align: center;
    padding: 6px 0px 7px 0px;
  }
  .mainLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    max-width:500px;
    -webkit-animation: fadeinout 10s linear forwards;
    animation: fadeinout 10s linear forwards;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
  }
  @-webkit-keyframes fadeinout {
    0% { opacity: 0; }
    5% { opacity: 1; }
    25% { opacity: 1; }
    50% { opacity: 1; }
    75% { opacity: 1; }
    95% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @keyframes fadeinout {
    0% { opacity: 0; }
    5% { opacity: 1; }
    25% { opacity: 1; }
    50% { opacity: 1; }
    75% { opacity: 1; }
    95% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  p.copyright {
    color: white;
    padding-left: 13px;
    font-size: 14px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    text-align:right;
    line-height:25px;
    a{
      text-decoration:none;
      color:white;
      padding-bottom:5px;
      border-bottom:1px solid white;
    }
  }
  
  .work-nav-cont{
    position: absolute;
    left: 0;
    display: none;
    visibility:hidden;
    opacity:0;
    top: 0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 125!important;
    @include fade(all, 0.3s);
  }
  .work-nav-cont.open{
    display: block;
    opacity:1;
    visibility: visible;
  }
  .work-contain {
    position: absolute;
    max-width: 300px;
    left: 200px;
    top: 50%;
    transform: translateY(-50%);
      a{
        width:100%;
        display: inline-block;
        text-decoration: none;
        @extend .frieght;
        text-transform: uppercase;
        letter-spacing: 2.4px;
        color: white;
        font-size:18px;
            font-weight: 200;
        padding: 20px 12px;
      }
  }
  .follow {
    padding:7px 70px;
    background:white;
    position: absolute;
    left:50px;
    bottom:50px;
    text-decoration:none;
    color:#4D5359;
    @extend .frieght;
    text-transform:uppercase;
    z-index: 20;
  }
  .overlay {
    position: absolute;
    background: rgba(26, 26, 26, 0.8);
    width: 100%;
    pointer-events: none;
    height: 100%;
    z-index: 2;
    content: "";
    @include fade(all, 0.3s);
    display: block;
    top: 0;
    left: 0;
  }
  .sub-nav {
    background:black;
    width:320px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -265px;
    z-index: 4;
    @include fade(all, 0.3s);
  
  }
  span.hr {
    display: inline-block;
    width: 0%;
    height: 1px;
    background: white;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    margin: 10px 5%;
  }
  .loop1{
    @include fade(all, 0.6s);
  }
  .loop2{
    @include fade(all, 0.8s);
  }
  .loop3{
    @include fade(all, 1s);
  }
  .loop4{
    @include fade(all, 1.2s);
  }
  .loop5{
    @include fade(all, 1.4s);
  }
  .loop6{
    @include fade(all, 1.6s);
  }
  .loop1:hover{
    @include fade(all, 0.6s);
  }
  .loop2:hover{
    @include fade(all, 0.8s);
  }
  .loop3:hover{
    @include fade(all, 1s);
  }
  .loop4:hover{
    @include fade(all, 1.2s);
  }
  .loop5:hover{
    @include fade(all, 1.4s);
  }
  .loop6:hover{
    @include fade(all, 1.6s);
  }
  .sub-nav-container{
    @include fade(all, 2s);
        margin-top: 100px;
    a{
      width: 90%;
      display: inline-block;
      color: white;
      letter-spacing: 2.4px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px;
      opacity:0;
      font-weight:200;
      padding: 10px 5%;
      @extend .frieght;
      @include fade(all, 1s);
    }
  }
  .sub-nav:hover, .sub-nav:active {
    left: 0;
    @include fade(all, 0.3s);
  }
  .sub-nav:hover span.hr{
    width:90%;
  }
  .sub-nav:hover .sub-nav-container a{
    opacity:1;
    @include fade(all, 1s);
  }
  .work-sub{
    padding-left:10px;
  }
  .mobile-nav {
    width:350px;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: -310px;
    z-index: 64;
    @include fade(all, 0.3s);
    img.side-icon{
      right: 6px;
    }
  
  }
  .gallery-tumbs .swiper-wrapper {
    left:50%;
  }
  .fullText {
    padding-bottom: 20px;
  }
  .fullImage {
    padding-bottom: 20px;
  }
  .twoWidth {
    width:49%;
    display: inline-block;
    vertical-align:top;
  }
  .right-widget{
    padding-left:10px;
    text-align: justify;
  }
  .left-widget{
    padding-right:10px;
    text-align: justify;
  }
  .work-heading{
    margin-bottom:0;
    .col{
      margin-bottom:0!important;
    }
    h1{
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 2px;
      display: inline-block;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 3.2px;
      margin-top: 0px;
    }
  }
  .news-view-content{
    max-width: 980px;
    padding: 40px 0px;
    margin: 0 auto;
    background: black;
    color:white;
    p {
      line-height: 22px;
      text-align:justify;
    }
    a{
      text-decoration:none;
      color:black;
    }
    h1{
      color:white;
      @extend .frieght;
    }
    h3 {
      font-size: 22px;
      margin: 10px 0;
    }
    h4{
        font-size:20px;
    }
  }
  .rightColumn {
    padding-left:20px;
  }
  .leftColumn {
    padding-right:20px;
  }
  .quote {
    font-size: 28px;
    margin: 20px 0;
  }
  
  @media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
    .top-header {
      position: relative!important;
      z-index: 50;
      width: 100%;
      background: rgba(0,0,0,1)!important;
      display: inline-block;
      height: 139px;
      vertical-align: top;
    }
    .mobile-home {
      background: black;
      padding-top: 0px!important;
    }
  }
  .mobile-nav-container{
    @include fade(all, 2s);
        margin-top: 50px;
    a{
      width: 100%;
      display: inline-block;
      color: white;
      letter-spacing: 2.4px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px;
      padding: 10px;
      @extend .frieght;
    }
  }
  .mobile-nav.active{
    left: 0;
    @include fade(all, 0.3s);
    background:black;
  }
  .mobile-nav.active .side-icon{
    display: block!important;
  }
  .mobile-nav.active .side-icon-b{
    display: none!important;
  }
  .about {
      padding-right: 40px;
  }
  .second-col{
    padding-top:30px;
  }
  .sub-container {
      padding-left: 55px;
      padding-top: 140px;
  }
  .sub-container-pro {
      padding-left: 55px;
      padding-top: 120px;
      .project-main h1{
        margin-top: 20px;
      text-align: center;
      }
  }
  .privacy-policy{
    a{
      color:white;
      &:hover{
        text-decoration:none;
      }
    }
  }
  .follow {
    opacity: 0.1;
  }
  .follow-social{
    position: absolute;
    left: 50px;
    bottom:55px;
    width: 300px;
    opacity:1;
    overflow:hidden;
    z-index: 10;
    @include fade(all, 0.3s);
    a{
      @include fade(color, 0.5s);
      padding:10px;
      font-size:20px;
      color:white;
    }
  }
  .follow-social.black-social {
    a {
      color: #020203;
    }
  }
  .follow-social.open{
    width: 110px;
    left: 269px;
    opacity:1;
    @include fade(all, 0.3s);
  }
  .right-block {
    border-right:2px solid white;
  }
  .imageWidth {
    height: 100%;
    vertical-align: middle;
  }
  .swiper-slide-inner {
    height: 100%;
    position: relative;
  
  }
  .slide-image-holder {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
  }
  /*
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    text-align: center;
    height: 100%;
    z-index: 100;
    background: rgba(0,0,0,0.8);
    color: white;
  }
  */
  .swiper-slide {
      text-align: center!important;
      //display: table;
      img{
        max-width: 100%;
        max-height: 100%;
        /*width: 100%;
        height: 100%;
        object-fit: contain;*/
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
  }
  .project-insert-p{
    padding:0 20px;
  }
  .project-main {
    @extend .frieght;
    p{
      font-size:16px;
    }
    h1{
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 2px;
      display: inline-block;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 3.2px;
      margin-top: 0px;
    }
  }
  .other-projects{
    @extend .frieght;
    padding-left:20px;
    span{
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 40px;
      display: inline-block;
      width:100%;
      text-transform: uppercase;
      letter-spacing: 3.2px;
    }
    .project-link{
      @extend .frieght;
      text-transform: uppercase;
      letter-spacing: 3.2px;
      margin-bottom: 10px;
      display: inline-block;
      width:100%;
      text-decoration:none;
  
      color:black;
    }
  }
  
  .project-insert a {
      width: 100%;
      position: absolute;
      height: 100%;
  }
  .project-cont {
    padding-bottom: 300px;
    position: relative;
    border-bottom: 2px solid white;
    .project-insert:hover .overlay{
        background: rgba(26,26,26,0.4);
        @include fade(all, 0.3s);
    }
    .project-insert {
      background-size:cover;
      background-repeat:no-repeat;
      width:100%;
      height:100%;
      position: absolute;
      background-position: center top;
      .project-content {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 3;
        width: 100%;
      text-align: center;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        h2{
          @extend .frieght;
          font-weight:600;
          font-size:18px;
          text-transform:uppercase;
          color:white;
          letter-spacing:3.2px;
        }
      }
    }
  }
  .crumb{
    span {
      padding-left:20px;
      @extend .frieght;
      font-weight:600;
      font-size:18px;
      margin-bottom:10px;
      display: inline-block;
      text-transform:uppercase;
      letter-spacing:3.2px;
    }
  }
  .wrapper {
   width: 25%;
   /* whatever width you want */
   display: inline-block;
   position: relative;
  }
  .wrapper:after {
   padding-top: 100%;
   /* 16:9 ratio */
   display: block;
   content: '';
  }
  
  .fullWidth {
    width:100%;
    vertical-align:middle;
  }
  .fullHeight {
    height: 100%;
    width:auto;
  }
  .fullWidth2 {
    //height: 100%;
    //width:auto;
    width: 100%;
    height: auto;
  }
  .swiper-slide.swiper-slide-active {
      //z-index: 300;
  }
  .heading {
    display: none;
  }
  input,textarea {
    width:95%;
    padding:15px 2.5%;
    background:transparent;
    border:1px solid black;
    color: black;
    font-size: 14px;
    margin-bottom:20px;
    @extend .frieght;
  }
  textarea{
    height: 100px;
    margin-bottom:0;
  }
  button {
    width:100%;
    padding:15px 2.5%;
    background:black;
    color:white;
    border:0;
    text-transform:uppercase;
    letter-spacing:2.8px;
    webkit-appearance:none;
  }
  .single-thumb{
   position: absolute;
   top: 0;
   overflow: hidden;
   bottom: 0;
   right: 0;
   left: 0;
   color: white;
   img{
     position: absolute;
     top: 50%;
     left: 50%;
     width: 170%;
     transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
   }
  }
  .project-description-mob{
    display: none;
  }
  .project-description.open {
      opacity: 1;
      background: rgba(0,0,0,0.8);
      color: white;
      transform: translateY(0%);
      -ms-transform: translateY(0%);
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -o-transform: translateY(0%);
  }
  .project-description{
    position: absolute;
    left: 23vw;
    max-width: 350px;
    display: inline-block;
    bottom: 0;
    z-index: 100;
    background: rgba(0,0,0,0.8);
    color: white;
    transform: translateY(50%);
    -ms-transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -o-transform: translateY(50%);
    font-family: "freight-sans-pro";
    letter-spacing : 1.1px;
    font-weight: 400;
    @include fade(all, 0.3s);
    opacity: 0;
    pointer-events: none;
    p{
      padding:20px;
      text-align: center;
    }
  }
  .project-main{
    width: 100%;
  }
  .mobile-home{
    display: none;
  }
  .page-container {
      max-width: 900px;
      margin: 0 auto;
      padding: 0 20px;
      @extend .frieght;
  }
  .project-cont.bigleft {
      padding-bottom: 400px;
  }
  .project-cont.rightsmall {
      padding-bottom: 400px;
  }
  .project-cont.rightbig {
      padding-bottom: 602px;
  }
  img.side-icon {
      position: absolute;
      top: 55px;
      width: 30px;
      right: 13px;
  }
  img.side-icon-b {
      position: absolute;
      top: 55px;
      width: 30px;
      right: 13px;
      display: none;
  }
  .mobile-projects{
    display: none;
  }
  .sub-mobile .mobile-nav img.side-icon {
    display: none;
  }
  .sub-mobile .mobile-nav img.side-icon-b {
    display: block;
  }
  .sub-bg {
      width: 100%;
      height: 100%;
      padding-bottom:100px;
      position: relative;
      .sub-container{
        color:black;
      }
  }
  .sub-bg.contact-sub-bg {
    padding-bottom: 0;
    min-height: 500px;
  }
  .sub-bg.about-sub-bg {
    min-height: calc(100% + 100px);
    height: auto;
  }
  .favourites-bg{
    width: 100%;
    height: 100%;
    background:black;
    padding-bottom:100px;
    position: relative;
    .sub-container{
      color:white;
    }
  }
  .favourte-cont {
      padding-right: 55px;
  }
  .fav-col {
    padding: 10px;
  }
  .fav-link:hover {
    border-bottom:0!important;
    color:red!important;
  }
  div.social-feed-element:after{}
  .social-feed-element{
      display: inline-block;
      transition: all 0.3s;
      .author-title {
          color: black;
      }
      a {
          color: black;
      }
      a:hover{
          color: black;
      }
      .social-inner {
          padding: 30px;
          background: white;
          position: relative;
      margin-bottom:5px;
      }
      color: #666666;
      width: 25%;
      padding: 10px 10px;
      box-sizing: border-box;
      display: inline-block;
      //float: left;
      //vertical-align: top;
      .pull-left {
          float: none;
      }
      img {
          max-width: 100%;
      vertical-align: middle;
      }
  }
  span.social-title{
    margin-bottom:10px;
    width:100%;
    display: inline-block;
    .fa{
      color:black;
    }
    a{
      color:black;
      @extend .frieght;
      font-size:16px;
    }
  }
  .social-bg{
    background:black;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 140px;
  }
  span.social-post-date {
      width: 100%;
      text-align: center;
      margin-top: 10px;
      display: inline-block;
  }
  .project-nav {
      width: 100%;
      position: absolute;
      display: inline-block;
      bottom: 0;
      right: 0;
      background: #575757;
      a:hover {
        background:black!important;
      }
      .slides-navigation{
        //pointer-events: none;
        position: relative;
        width: auto;
        right: 0;
        top:0;
        text-align: center;
        margin-top: 0px;
        height: 42px;
        padding-left:54px;
        .social-btn {
          background: #575757;
           width: 80px;
           position: relative;
           height:42px;
           display: inline-block;
           color:white;
           text-decoration:none;
           border-right:1px solid white;
           .fa{
             padding-top: 15px;
           }
        }
        .next{
          background:#575757;
          float:none;
          display: inline-block;
        }
        .prev{
          background:#575757;
          float:none;
          display: inline-block;
          vertical-align:top;
          border-right:1px solid white;
        }
        .blank{
          background: #575757;
          cursor: pointer;
          width: 134px;
          border-right: 1px solid white;
          border-left: 1px solid white;
          text-transform: uppercase;
          color: white;
          padding: 12px 0;
          height: 18px;
          vertical-align: top;
        }
        .info{
          vertical-align:top;
          padding-top:12px;
          height:30px;
        }
      }
  }
  .gallery-thumbs .swiper-slide {
    width: 98px;
    height: 100%;
    opacity: 1;
    background-size: cover;
  }
  .swiper-container.gallery-thumbs.swiper-container-horizontal {
      position: absolute;
      bottom: 42px;
      left: 0;
      width: 100%;
      height: 0px;
      text-align: center;
      background: #575757;
      border-bottom: 1px solid white;
  
  }
  .gallery-thumbs{
    @include fade(all, 0.3s);
  }
  .gallery-thumbs:hover{
    height: 80px;
    @include fade(all, 0.3s);
  }
  .swiper-container.gallery-thumbs.swiper-container-horizontal.open{
    height: 80px;
    @include fade(all, 0.3s);
  }
  @media screen and (min-width: 1200px) and (max-width: 1500px) {
    .swiper-slide img {
    }
  }
  @media screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .top-header{
      background: rgba(0,0,0,1);
          position: static;
    }
    .mobile-home{
      padding-top:0;
    }
  }
  .mobile-project{
    margin-bottom:10px;
    img{
      margin-bottom:10px;
    }
  }
  @media (max-width: 1100px) {
    .fav-col{
      width:50%;
    }
    .favourte-cont {
      padding-right: 55px;
    }
  }
  @media (max-width: 900px) {
    .hover-logo{
      width:0;
    }
    .home-container{
      padding:160px 20px 20px 20px!important;
    }
  }
  .show-mobile{
    display:none;
  }
  @media (max-width: 800px) {
    .project-main .mobile-projects img {margin-bottom: 10px;}
    .rightColumn{
      padding-left:0;
    }
    .about-swiper-container{
      padding-right:0;
    }
    .about {
        padding-right: 0px;
    }
    .second-col{
      padding-top:10px;
    }
    .img-mobile{
      position:relative;
    }
    .show-mobile{
      display:block;
    }
    .no-mobile{
      display:none;
    }
    .leftColumn{
      padding-right:0;
    }
    .social-bg{
      padding-left:20px;
      padding-right:20px;
    }
    .social-feed-element{
      width:100%;
    }
    .fav-col{
      width:100%;
    }
    .favourte-cont {
      padding-right: 0px;
    }
    .cross-btn{
      right: 20px;
    }
    .sub-bg {
      height: auto!important;
    }
    .follow {
      display: none;
    }
    .main-nav{
      display: none;
    }
    .crumb{
      padding-left:0;
      margin-top:20px;
    }
    .project-btns{
        display: none;
    }
    .project-description-mob{
      display: block;
    }
    img.side-icon-b{
      right:5px;
    }
    .no-mobile {
      display: none;
    }
    .other-projects{
      display: none;
    }
    .mobile-projects{
      display: block;
      margin-bottom:10px;
      h3 {
        font-weight: 600;
        font-size: 18px;
        margin:20px 0;
        display: inline-block;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 3.2px;
  
      }
    }
    .swiper-container{
      display: none!important;
    }
    .about-swiper-container .swiper-container {
      display: block !important;
    }
    .top-header {
      position: fixed;
      z-index: 50;
      width: 100%;
      background: rgba(0, 0, 0, 0.8);
      display: inline-block;
      height: 139px;
  }
  
  .sub-container{
    padding-left:0;
  }
  .sub-container-pro{
    padding-left:0;
  }
  .project-main{
      margin: 0 auto;
      width: auto!important;
  }
    .mobile-nav{
      display: block;
    }
    .right-block{
      border-right:0;
    }
    #home-header{
      display: none;
    }
    .sub-nav{
      display: none;
    }
    .mobile-home{
      display: block;
    }
    .logo {
      left:50%;
      transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      width:250px;
    }
    .project-cont.bigleft{
      padding-bottom:300px!important;
    }
    .project-cont.bigleft{
      padding-bottom:300px!important;
    }
    .project-cont.rightbig{
      padding-bottom:300px!important;
    }
    .project-cont.rightsmall{
      padding-bottom:300px!important;
    }
    .mobile-home {
      background: black;
      padding-top: 140px;
    }
    .hover-logo{
      opacity:1;
      width:160px;
    }
  }
  .contact-sub-bg button {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "freight-sans-pro";
    letter-spacing: 1.1px;
    font-weight: 400;
    font-size: 14px;
    padding: 7px 70px;
  }
  .contact-sub-bg .page-container {
    padding-top: 16vh;
  }
  .about-sub-bg .page-container {
    padding-top: 2vh;
    img {
      margin-top: 30px;
    }
  }
  
  .about-swiper .swiper-slide img {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  span.contact-email {
    color: black;
    font-family: "freight-sans-pro";
    letter-spacing: 1.1px;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
  }
  span.contact-num {
    float: right;
    a {
      font-size: 16px;
      color: black;
      font-family: "freight-sans-pro";
      letter-spacing: 1.1px;
      font-weight: 400;
      text-decoration: none;
    }
    i {
      position: relative;
      bottom: -4px;
    }
  }
  
  .about-swiper-container {
    padding-right:40px;
    margin: 0 auto;
    z-index: 70;
    position: relative;
    .swiper-button-next, .swiper-button-prev {
        position: absolute;
        top: 50%;
        width: 27px;
        height: 44px;
        margin-top: -22px;
        z-index: 10;
        cursor: pointer;
        background-image: url('../img/arrow.svg');
        background-size: 27px 44px;
        background-position: center;
        background-repeat: no-repeat;
  
    }
    .swiper-button-prev {
      transform: scaleX(-1);
      left: 0px;
    }
    .swiper-button-next {
      right: 0px;
    }
    .swiper-button-disabled {
      opacity: 0.5;
    }
  }
  .about-swiper {
    //max-width: 400px;
  }
  
  .home-container{
    max-width:1400px;
    margin:0 auto;
    padding:160px 80px 20px 80px;
    .row{
      margin-left:-100px;
      .col{
        padding-left:100px;
        margin-bottom:100px;
      }
    }
  }
  .four-col.row{
    margin-left:0px;
    .col{
      padding-left:25px;
      margin-bottom:25px;
    }
    .img-four{
      cursor:pointer;
      position:relative;
      background-size:cover;
    }
    .img-overlay{
      opacity: 0;
    }
  }
  .img-four:hover .img-overlay{
    opacity:1;
  }
  .img-cont{
    position:relative;
    width:100%;
    height:100%;
  }
  .img-overlay{
    position: absolute;
    background: rgba(26, 26, 26, 0.8);
    width: 100%;
    pointer-events: none;
    height: 100%;
    z-index: 2;
    content: "";
    @include fade(all, 0.3s);
    display: block;
    top: 0;
    left: 0;
  }
  .img-heading{
    @extend .absolute-c;
    text-transform:uppercase;
    color:white;
    h2{
      letter-spacing: 3.2px;
      font-weight: 600;
      font-size: 18px;
      text-align:center;
    }
  }
  .home-footer{
    max-width:1800px;
    margin:0 auto;
    padding:40px 80px;
    color:#fff;
    background:black;
    a{
      color:white;
    }
    .foot-icon{
      a{
        color:#fff;
        margin-right:10px;
        font-size:24px;
      }
    }
  }
  .ipop{
    margin-top:0;
    a{
      padding-left:0!important;
    }
  }
  .img-overlay{
    opacity:1;
   
    .img-heading {
      text-transform: uppercase;
      h2 {
        color: white;
      }
    }
    
  }
  .img-cont{
    &:hover{
      .img-overlay {
        opacity: 0;
      }
    }
  }
  // .img-cont:hover .img-overlay{
  //   opacity:1!important;
  // }
  .fancybox-bg{
    background:white!important;
    opacity:1!important;
  }
  .head-fade{
    animation:signup-response 0.5s 1;
    -webkit-animation:signup-response 0.5s 1;
    animation-fill-mode: forwards;
    animation-delay:4s;
    -webkit-animation-delay:2s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
  }
  .copy-foot{
    text-align: right;
    line-height: 25px;
    a{
      padding-left:10px;
    }
  }
  @keyframes signup-response{
    from {opacity :1;}
    to {opacity :0;}
  }
  
  @-webkit-keyframes signup-response{
    from {opacity :1;}
    to {opacity :0;}
  }
  
  @mixin fade($item, $time){
    -moz-transition: $item $time ease-in-out;
    -o-transition: $item $time ease-in-out;
    -webkit-transition: $item $time ease-in-out;
      transition: $item $time ease-in-out;
  }
  .fancybox-navigation .fancybox-button {
    height: 58px;
    opacity: 0;
    padding: 6px;
    position: absolute;
    top: 50%;
    width: 58px;
    opacity: 0.5;
  }
  .fav-btn i {
    @include fade(color, 0.2s);
  }
  .fav-select {
    color: red;
  }
  .cross-btn {
    cursor: pointer;
  }
  .fav-img-container{
    overflow: auto;
  }
  .fav-img {
    //max-width: 450px;
    max-width: 100%;
    width: 450px;
  
    display: inline-block;
    margin: 3px;
    float: left;
    img {
      width: 100%;
      //height: 100%;
    }
  }
  .gallery-thumbs {
    @include fade(height, 0.3s);
    height: 0px;
    overflow: hidden;
    position: absolute;
    bottom: 42px;
    left: 0;
    width: 100%;
    overflow-x: scroll;
    white-space:nowrap;
    z-index: 1;
    background: #575757;
    .holder {
      text-align: center;
      font-size: 0;
    }
    .thumb {
      box-sizing: border-box;
      display: inline-block;
      height: 80px;
      width: 80px;
      background-size: cover;
      background-position: center center;
      @include fade(opacity, 0.2s);
      cursor: pointer;
      opacity: 1;
      &:hover {
        //opacity: 0.2;
        -webkit-filter: brightness(1.25);
      }
    }
  }
  .thumb-raise {
    height: 80px;
  }
  .tab {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
    border-top: 2px solid white;
    display: block;
    cursor: pointer;
    color: white;
    text-decoration: none;
  }
  .tab2 , .tab3 {
    display: none;
  }
  .tabhold {
    padding-top: 20px;
    padding-right: 60px;
  }
  .text-center {
    text-align: center;
  }
  .sih-before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    cursor: url('../cursors/left-arrow-grey.cur'),     /* Modern browsers    */
            url('cursors/left-arrow-grey.cur'),        /* Internet Explorer  */
            w-resize;
    content: '';
    z-index: 99;
  }
  .sih-after {
    z-index: 99;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    cursor: url('../cursors/right-arrow-grey.cur'),     /* Modern browsers    */
            url('cursors/right-arrow-grey.cur'),        /* Internet Explorer  */
            e-resize;
  }
  .home-slide {
    width: 100%;
    height: 100%;
  }
  .swiper-container2 {
    .slider-title {
      text-align: left;
    }
    width: 100%;
    height: 100%;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
  }
  
  
  .image-number {
    cursor: pointer;
  }
  .swiper-button-disabled {
    cursor:not-allowed;
  }
  .slide-image-holder {
    background-color: white !important;
  }
  
#bear{
  display: none;
}
.social-sub-bg{
  height: auto;
  min-height: 80vh;
}
.contact-sub-bg{
  .follow-social{
    display: none;
  }
}

.slide-cont{
  text-align: left;
  width: 100%;
  padding-top:40px;
  h2{
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    font-size: 32px;
  }
  .slider-logo{
    padding: 40px 27px;
    border-radius: 35px;
    background: white;
    img{
      max-width: 200px;
    }
    .slide-date{
      display: inline-block;
      margin-right: 15px;
      position: absolute;
      top: 55px;
      right: 40px;
      h4{
        padding: 5px 17px;
        border-radius: 25px;
        color:#333;
        border: #333 1px solid;
      }
    }
  }
  .slider-logo:hover{
    -webkit-box-shadow: 6px 10px 11px 1px rgba(0,0,0,0.14);
    -moz-box-shadow: 6px 10px 11px 1px rgba(0,0,0,0.14);
    box-shadow: 6px 10px 11px 1px rgba(0,0,0,0.14);
  }
  p{
    width:100%;
    display: inline-block;
  }
}
.timeline-container{
  height:auto!important;
}


.gallery-thumbs2{
  position: relative;
  height: 85px;
  
  .swiper-slide{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: 20px;
      background: url(../img/next-dot.svg);
      width: 20px;
      height: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .swiper-slide-active{
    &::after{
      background: url(../img/active-next-dot.svg);
    }
  }
  &::after{
    position: absolute;
    bottom: 30px;
    content: '';
    height: 1px;
    left: 0;
    width:100%;
    background: #333;
  }
}
.paginate-cont{
  position: relative;
}
.swiper-button-next2{
  position: absolute;
  top: 57px;
  right: -1px;
  width: 40px;
  height: 40px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/next-btn.svg);
}
.swiper-button-prev2 {
  position: absolute;
  top: 57px;
  left: -1px;
  width: 40px;
  height: 40px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/prev-btn.svg);
}
section.horizontal-timeline{
  background: #f2f2f2;
}
.timeline {
  background: #f2f2f2;
  padding: 45px 80px;
  .darkbg {
    background: #666;
  }
}

.banner-img{
  width:100%;
  display: inline-block;
  img{
    max-width: 400px;
    position: relative;
  }
}