
{% extends "_layout" %}
{% block content %}
{% include '_includes/_header.html'%}
.social-bg
  .news-view-content
    h1 {{ entry.title }}
    {% for block in entry.defaultMatrix %}
    {% if block.type == "textBlock" %}
    .fullText
        {{ block.fullText }}
    {% elseif block.type == "fullWidthImage" %}
    {% set image = block.image.first() %}
    {% if image %}
    img(src="{{ image.getUrl }}", alt="{{ image.title }}", class="fullWidth")
    {% endif %}
    {% elseif block.type == "twoColumnText" %}
    .col.col--1-of-2.leftColumn
      {{ block.leftColumn }}
    .col.col--1-of-2.rightColumn
      {{ block.rightColumn }}
    {% elseif block.type == "quote" %}
    .col.col--2-of-2.quote
      {{ block.quote }}
    {% endif %}
    {% endfor %}  
{% endblock %}
