{% extends "_layout" %}
{% block content %}
{% include '_includes/_header.html'%}<div class="social-bg"><div class="news-view-content"><h1>{{ entry.title }}</h1>{% for block in entry.defaultMatrix %}
{% if block.type == "textBlock" %}<div class="fullText">{{ block.fullText }}</div>{% elseif block.type == "fullWidthImage" %}
{% set image = block.image.first() %}
{% if image %}<img src="{{ image.getUrl }}" alt="{{ image.title }}" class="fullWidth"/>{% endif %}
{% elseif block.type == "twoColumnText" %}<div class="col col--1-of-2 leftColumn">{{ block.leftColumn }}</div><div class="col col--1-of-2 rightColumn">{{ block.rightColumn }}</div>{% elseif block.type == "quote" %}<div class="col col--2-of-2 quote">{{ block.quote }}</div>{% endif %}
{% endfor %}  </div></div>{% endblock %}