{% extends '_layout' %}
{% block content %}
{% include '_includes/_subheader.html'%}
{% set feed = craft.socialFeedCraft3.feed %}
{% macro timeAgo(entry) %}
{% set entry = date(entry)%}
{% set dateOneHourAgo = now.modify('- 1 hour') %}

{% set elapsedMinutes = entry.diff(now).m %}

{% if not (entry < dateOneHourAgo) %}

{{ entry.diff(now) | duration | split('and') | first }} ago

{% else %}

{{ entry.diff(now) | duration | split(',') | first }} ago

{% endif %}

{% endmacro %}

.sub-bg.social-sub-bg
	{% include '_includes/_follow.html' %}
	.sub-container
		.col.col--2-of-2.crumb
			span / Social
		.home-container
			.col.col--2-of-2       
				//- {{dump(feed)}}
				| {% if feed | length == 0 %}
				h1 No social feed data has been found.
				| {% endif %}
				| {% set facebookFeedBegun = false %}
				| {% set twitterFeedBegun = false %}
				| {% set instagramFeedBegun = false %}
				{% set feed = feed | sort((a, b) => b.postDate.date <=> a.postDate.date)%}
				.masonry-with-columns
					| {% for individualFeed in feed %}
					//- Facebook 
					| {% if individualFeed.from | lower == 'facebook'%}
					| {% if individualFeed.postText | length %}
					//- | {% if facebookFeedBegun == false%}
					//- | {% set facebookFeedBegun = true%}
					//- //- h2(style="display: inline-block") {{individualFeed.from}} -
					//- //- a(href="{{individualFeed.profile}}" style="display: inline-block") iPOP Digital
					//- | {% endif %}
					
					a(href="{{individualFeed.postUrl}}").social-block
						
						
						
						| {% if individualFeed.imgUrl | length %}
						| {% for individualImage in individualFeed.imgUrl %}
						.u-background(style="background-image:url({{individualImage}})" alt="facebook image" class="facebookImage {% if individualFeed.imgUrl | length != 1 %}multi-image{% else %}single-image{% endif %}")
						| {% endfor %}
						| {% endif %}
						.inner
							img(src="{{siteUrl}}build/img/facebook.svg" alt="facebook" class="social")
							| {% if individualFeed.postDate.date | length %}
							p Post Date: {{ _self.timeAgo(individualFeed.postDate.date ) }} 
							| {% endif %}
							| {% if individualFeed.postText | length %}
							p Description: {{ individualFeed.postText }} 
						| {% endif %}

						
					| {% endif %}
					| {% endif %}

					| {% if individualFeed.from | lower == 'twitter'%}
					//- | {% if twitterFeedBegun == false %}
					//- | {% set twitterFeedBegun = true %}
					//- //- h2(style="display: inline-block") {{individualFeed.from}} -
					//- //- a(href="{{individualFeed.profile}}" style="display: inline-block") {{individualFeed.username}}
					//- | {% endif %}
					.social-block
						
						
						| {% if individualFeed.imgUrl | length %} 
						.u-background(style="background-image:url({{individualFeed.imgUrl}})" class="facebookImage")								
						| {% endif %}
						| {% if individualFeed.profileImage | length %}
						.twitterIcon(style="background-image:url({{individualFeed.profileImage}})")
						| {% endif %}
						.inner
							img(src="{{siteUrl}}build/img/twitter.svg" alt="twitter" class="social twitter")
							| {% if individualFeed.postDate.date | length %}
							p Post Date: {{ _self.timeAgo(individualFeed.postDate.date ) }} 
							| {% endif %}
							| {% if individualFeed.postText | length %}
							p Description: {{ individualFeed.postText }} 
							| {% endif %}
						
					| {% endif %}
					

					| {% if individualFeed.from | lower == 'instagram'%}
					//- | {% if instagramFeedBegun == false %}
					//- | {% set instagramFeedBegun = true %}
					//- h2(style="display: inline-block") {{individualFeed.from}} -
					//- a(href="{{individualFeed.profile}}" style="display: inline-block") {{individualFeed.username}}
					//- | {% endif %}
					a(href="{{individualFeed.postUrl}}").social-block
						| {% if individualFeed.imgUrl | length %}						
						.u-background(style="background-image:url({{individualFeed.imgUrl}})" class="facebookImage")						
						| {% endif %}
						
						.inner
							img(src="{{siteUrl}}build/img/instagram.svg" alt="instagram" class="social")
							| {% if individualFeed.postDate.date | length %}
							
							p Post Date: {{ _self.timeAgo(individualFeed.postDate.date ) }} 
							| {% endif %}
							| {% if individualFeed.postText | length %}
							p Description: {{ individualFeed.postText }} 
							| {% endif %}
						
					| {% endif %}
					| {% endfor %}
.home-footer
	.row
		.col.col--1-of-2.foot-icon
			p Follow
			a(href="https://www.facebook.com/glenperottephotography" class="social-btn", target="_blank")
				<i class="fa fa-facebook" aria-hidden="true"></i>
			a(href="https://www.instagram.com/glenperottefoto" class="social-btn", target="_blank")
				<i class="fa fa-instagram" aria-hidden="true"></i>
		.col.col--1-of-2.copy-foot
			p &copy; Copyright Glen Perotte Photographer Ltd {{ "now"|date('Y') }}. All Rights Reserved <br><a href="{{ siteUrl }}privacy-policy">Privacy</a><a href="{{ siteUrl }}terms-conditions">Terms &amp; Conditions</a> 
			p.ipop Website by <a href="http://www.ipopdigital.com" target="_blank">iPOP Digital</a>

{% endblock %}