
{% extends "_layout" %}
{% block content %}
{% include '_includes/_subheader.html'%}
.sub-bg.about-sub-bg
    {% include '_includes/_follow.html' %}
    .follow-social
      a(href="#")
        <i class="fa fa-twitter" aria-hidden="true"></i>
      a(href="#")
        <i class="fa fa-facebook" aria-hidden="true"></i>
      a(href="#")
        <i class="fa fa-instagram" aria-hidden="true"></i>
      a(href="{{ siteUrl }}privacy-policy/") Privacy Policy
    .sub-container
      .col.col--2-of-2.crumb
        span / {{ entry.title }}
      .default
        .row
            {% for block in entry.defaultMatrix %}
            {% if block.type == "twoColumn" %}
            .col.col--2-of-2
                .col.col--1-of-2
                    {{ block.leftColumn }}
                .col.col--1-of-2
                    {{ block.rightColumn }}
            {% elseif block.type == "textBlock" %}
            .col.col--2-of-2
                .col.col--2-of-2
                    {{ block.fullText }}
            {% elseif block.type == "heading" %}
            .col.col--2-of-2(class="{% if block.paddingTop %}padding-top{% endif %}{% if block.paddingBottom %}padding-bottom{% endif %}")
                .col.col--2-of-2
                    h2  {{ block.heading }}
            {% elseif block.type == "subHeading" %}
            .col.col--2-of-2(class="{% if block.paddingTop %}padding-top{% endif %}{% if block.paddingBottom %}padding-bottom{% endif %}")
                .col.col--2-of-2
                    h3  {{ block.subHeading }}
            {% elseif block.type == "fullWidthImage" %}
            .col.col--2-of-2  
                .col.col--2-of-2.margin-top-small
                    {% for asset in block.image %}
                    img(src="{{ asset.url }}", alt="{{ asset.title }}" class="fullWidth")
                    {% endfor %}
            {% elseif block.type == "linkPage" %}
            .col.col--2-of-2
                .col.col--2-of-2
                    | {% if block.linkPage.getUrl()|length %}
                    a(href="{{ block.linkPage.getUrl() }}" class="black-btn" target="{{ block.linkPage.getTarget() }}")  {{ block.linkPage.getCustomText() }}
                    | {% endif %}
            {% elseif block.type == "contactForm" %}
            .col.col--2-of-2
                .col.col--2-of-2
                    span.contact-email <i class="fa fa-envelope"></i> glen@glenperotte.com<br>59 KING STREET (2ND FLR),<br>ST HELIER, JERSEY, JE2 4WE
                    span.contact-num <i class="fa fa-phone"></i> <a href="tel:+447797787425">+44 (0)7797 787425</a>
                    {% include '_includes/form.html'%}
            {% elseif block.type == "threeImages" %}
            .col.col--2-of-2  
                {% for asset in block.images %}
                .col.col--1-of-3.mobile-m-b 
                    img(src="{{ asset.url }}", alt="{{ asset.title }}")
                {% endfor %}
            {% elseif block.type == "twoImages" %}
            .col.col--2-of-2  
                {% for asset in block.images %}
                .col.col--1-of-2 
                    img(src="{{ asset.url }}", alt="{{ asset.title }}")
                {% endfor %}
            {% elseif block.type == "fourImages" %}
            .col.col--2-of-2  
                {% for asset in block.images %}
                .col.col--1-of-4
                    img(src="{{ asset.url }}", alt="{{ asset.title }}")
                {% endfor %}
            {% endif %}
            {% endfor %}
.home-footer
  .row
    .col.col--1-of-2.foot-icon
      p Follow
      a(href="https://www.facebook.com/glenperottephotography" class="social-btn", target="_blank")
        <i class="fa fa-facebook" aria-hidden="true"></i>
      a(href="https://www.instagram.com/glenperottefoto" class="social-btn", target="_blank")
        <i class="fa fa-instagram" aria-hidden="true"></i>
    .col.col--1-of-2.copy-foot
      p &copy; Copyright Glen Perotte Photographer Ltd {{ "now"|date('Y') }}. All Rights Reserved <br><a href="{{ siteUrl }}privacy-policy">Privacy</a><a href="{{ siteUrl }}terms-conditions">Terms &amp; Conditions</a> 
      p.ipop Website by <a href="http://www.ipopdigital.com" target="_blank">iPOP Digital</a>
        
{% endblock %}
