/** Variables examples are font-face, fonts, breakpoints, colors used across
all pages through inclusion in different files. Effectively, $variables & 
arrays of break points. **/

@font-face {
    font-family: 'formular';
    src: url('../fonts/formular-regular.woff2') format('woff2'),
         url('../fonts/formular-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tt-bold';
    src: url('../fonts/TTCommons-Bold.woff2') format('woff2'),
        url('../fonts/TTCommons-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'tt-light';
    src: url('../fonts/TTCommons-Light.woff2') format('woff2'),
        url('../fonts/TTCommons-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AmsiPro';
    src: url('../fonts/AmsiPro-Light.woff2') format('woff2'),
        url('../fonts/AmsiPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}



/** Variables **/
$mouse: #3C3C3C;
$black: #3C3C3C;
$white: #ffffff;

$maxWidth: 1400px;
$small-line-height: 20px;
$lineHeight: 32px;
// Line Height:
$lg-line-height: 61px;

// Font sizes
$font-small: 16px;
$font-sm-med: 15px;
$font-medium: 16px;
$font-large: 17px;
$font-xlarge: 40px;



// Letter spacing
$letter-space-small: 0em;
$letter-space-med: 0.25em;



// Media Widths
$full-screen: 1800px;
$semi-full-screen: 1500px;
$desktop-large: 1300px;
$desktop: 1150px;
$mobile-break: 850px;
$mobile-actual-break: 700px;
$mobile: 450px;



.font-small-include {
    font-size: $font-small;
    line-height: $small-line-height;
    @include mobile-break {
        font-size: $font-small * 0.9;
        line-height: $small-line-height * 0.9;
    }
    @include mobile {
        font-size: $font-small * 0.8;
        line-height: $small-line-height * 0.8;
    }
}


.font-sm-med-include {
    font-size: $font-sm-med;
    line-height: $small-line-height;
    @include mobile-break {
        font-size: $font-sm-med * 0.9;
        line-height: $small-line-height * 0.9;
    }
    @include mobile {
        font-size: $font-sm-med * 0.8;
        line-height: $small-line-height * 0.8;
    }
}

.font-medium-include {
    font-size: $font-medium;
    line-height: $lineHeight;
    @include mobile-break {
        font-size: $font-medium * 0.9;
        line-height: $lineHeight * 0.9;
    }
    @include mobile {
        font-size: $font-medium * 0.8;
        line-height: $lineHeight * 0.8;
    }
}

.font-large-include {
    font-size: $font-large;
    line-height: $lg-line-height;
    @include mobile-break {
        font-size: $font-large * 0.9;
        line-height: $lg-line-height * 0.9;
    }
    @include mobile {
        font-size: $font-large * 0.8;
        line-height: $lg-line-height * 0.8;
    }
}

.font-xlarge-include {
    font-size: $font-xlarge;
    line-height: $lg-line-height;
    @include mobile-break {
        font-size: $font-xlarge * 0.9;
        line-height: $lg-line-height * 0.9;
    }
    @include mobile {
        font-size: $font-xlarge * 0.8;
        line-height: $lg-line-height * 0.8;
    }
}

