
.form__input, .form__textarea{
    width: calc(100% - 10px);
    padding-left: 10px;
    padding-top: 5px;
    height: 50px;
}
.form__label{
    position: absolute;
    top: 10px;
    left: 50px;
    @extend .font-small-include;
}