{#
 # 404 template
 # ------------
 #
 # This template is loaded whenever Craft cannot figure out how to
 # respond to an incoming request. No setup is involved to get your
 # 404 page working; you just need to call it 404.html and put it
 # at the root of your craft/templates/ folder.
 #
 # You can also create 400.html, 403.html, 500.html, and 503.html
 # templates if you’d like. If Craft can’t find an error template
 # to match the error code, it will just use the one in
 # craft/app/templates/ instead.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "404" %}

{% block content %}
<center style="color:white">
	<h1><br />404 Page not found</h1>

	<h5 style="color: white;">The page you were looking for cannot be found <a href="{{ siteUrl }}">click here</a> to return to the homepage.</h5>
</center>
{% include '_includes/_map.html' %}
{% endblock %}
