
{% extends "_layout" %}
{% block content %}
{% include '_includes/_header.html'%}
#home-header
  #slides
    ul.slides-container
      {% for block in entry.homeSlider.type('newImage') %}
      li(data-menu-color="{{ block.menuColor }}" data-title-color="{{ block.imageTitleColor }}")
        div(data-picture data-alt="Glen Perotte Photography in Jersey")
          {% for asset in block.desktopImage %}
          div(data-src="{{ asset.getUrl }}" data-media="(min-width: 800px)")
          {% endfor %}
          {% for asset in block.desktopImage %}
          div(data-src="{{ asset.getUrl('tablet') }}" data-media="(max-width: 800px)")
          {% endfor %}
          {% for asset in block.desktopImage %}
          div(data-src="{{ asset.getUrl('mobile') }}"  data-media="(max-width: 640px)")
          {% endfor %}
          noscript
            {% for asset in block.desktopImage %}
            img(src="{{ asset.getUrl }}" alt="Glen Perotte Photography")
            {% endfor %}
        //- .slider-title(class="{{ block.imageTitleColor }}-title")
        //-   h3 {% for cat in block.category.limit(1) %}{{ cat.title }}{% endfor %}
        //-   h2 {{ block.imageTitle }}
        //-   a(href="{{ block.linkEntry.first().url }}")
        //-     h3 VIEW PROJECT
      {% endfor %}
    //- nav.slides-navigation
    //-   a(href="#" class="next")
    //-     img(src="{{ siteUrl }}build/img/right-arrow.svg" alt="Left Arrow")
    //-   span.blank
    //-   .image-number-pause.pause.playing <i class="fa fa-pause"></i>
    //-   a(href="#" class="prev")
    //-     img(src="{{ siteUrl }}build/img/left-arrow.svg" alt="Left Arrow")
    //{% include '_includes/_follow.html' %}
.mobile-home
  {% for block in entry.homeSlider.type('newImage') %}
  .mobile-project
    {% for asset in block.desktopImage %}
    img(src="{{ asset.getUrl('mobile') }}", alt="Glen Perotte Photography" class="fullWidth")
    {% endfor %}
  {% endfor %}
{% endblock %}
