{% extends "_layout" %}
{% block content %}
{% include '_includes/_header.html'%}<div id="home-header"><div id="slides"><ul class="slides-container">{% for block in entry.homeSlider.type('newImage') %}<li data-menu-color="{{ block.menuColor }}" data-title-color="{{ block.imageTitleColor }}"><div data-picture="data-picture" data-alt="Glen Perotte Photography in Jersey">{% for asset in block.desktopImage %}<div data-src="{{ asset.getUrl }}" data-media="(min-width: 800px)"></div>{% endfor %}
{% for asset in block.desktopImage %}<div data-src="{{ asset.getUrl('tablet') }}" data-media="(max-width: 800px)"></div>{% endfor %}
{% for asset in block.desktopImage %}<div data-src="{{ asset.getUrl('mobile') }}" data-media="(max-width: 640px)"></div>{% endfor %}<noscript>{% for asset in block.desktopImage %}<img src="{{ asset.getUrl }}" alt="Glen Perotte Photography"/>{% endfor %}</noscript></div></li>{% endfor %}</ul><!--{% include '_includes/_follow.html' %}--></div></div><div class="mobile-home">{% for block in entry.homeSlider.type('newImage') %}<div class="mobile-project">{% for asset in block.desktopImage %}<img src="{{ asset.getUrl('mobile') }}" alt="Glen Perotte Photography" class="fullWidth"/>{% endfor %}</div>{% endfor %}</div>{% endblock %}