
{% extends "_layout" %}
{% block content %}
{% include '_includes/_subheader.html'%}
.sub-nav
  img(src="{{ siteUrl }}build/img/side-icon.svg", alt="Side Icon" class="side-icon")
  .sub-nav-container
    {% set categories = craft.categories.find({ group: 'category' }) %}{% for category in categories %}	            
    a(href="{{ category.url }}") {{ category.title }}
    span.hr(class="loop{{ loop.index }}")
    {% endfor %}
.sub-container
  .col.col--2-of-2.crumb
    span /{{ category.title }}
  .col(class="col--1-of-2 right-block")
    {% set leftcol = 0 %}
    {% for entry in craft.entries.section('work').relatedTo(category).order('dateCreated asc') %}
    {% if loop.index is odd %}
    {% set leftcol = leftcol + 1 %}
    .project-cont(class="{% if leftcol % 3 == 0 or leftcol == 2 %}smallleft{% else %}bigleft{% endif %}")
      .project-insert(style="{% for asset in entry.mainProjectImage %}background-image:url('{{ asset.getUrl }}'){% endfor %}")
        a(href="{{ entry.url }}")
          .project-content
            h2 {{ entry.title }}
          .overlay
    {% endif %}
    {% endfor %}
  .col(class="col--1-of-2")
    {% set rightcol = 0 %}
    {% for entry in craft.entries.section('work').relatedTo(category).order('dateCreated asc') %}
    {% if loop.index is even %}
    {% set rightcol = rightcol + 1 %}
    .project-cont(class="{% if rightcol is even %}rightbig{% else %}rightsmall{% endif %}")
      .project-insert(style="{% for asset in entry.mainProjectImage %}background-image:url('{{ asset.getUrl }}'){% endfor %}")
        a(href="{{ entry.url }}")
          .project-content
            h2 {{ entry.title }}
          .overlay
    {% endif %}
    {% endfor %}
{% endblock %}
