
{% extends "_layout" %}
{% block content %}
{% include '_includes/_subheader.html'%}
.sub-nav
  img(src="{{ siteUrl }}build/img/side-icon.svg", alt="Side Icon" class="side-icon")
  .sub-nav-container
    {% set categories = craft.categories.find({ group: 'category' }) %}{% for category in categories %}	            
    a(href="{{ category.url }}") {{ category.title }}
    {% endfor %}
.sub-container
{% endblock %}
